# ignore emacs backup/auto-save/lock files
*~
*#
.#*

# ignore Mac .DS_Store
.DS_Store

# ignore byte-compiled elisp
*.elc

# ignore all the transient stuff in .emacs.d/
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/custom.el
!.emacs.d/early-init.el
!.emacs.d/.mc-lists.el
!.emacs.d/lisp/
!.emacs.d/themes/

