[user]
name = Nick Guerrera

; This will force git to ask me who I am per repo.
; See for-fun and for-work aliases. 
email = (none)

[alias]
for-fun  = config user.email "nick@technogenic.net"
for-work = config user.email "nicholg@microsoft.com"

