[user]
name = Nick Guerrera

; This will force git to ask me who I am per repo.
; See for-fun and for-work aliases. 
useconfigonly = true

[alias]
for-fun  = config user.email "nick@technogenic.net"
for-work = config user.email "nicholg@microsoft.com"
use-ssh = config url."git@github.com:".pushinsteadof https://github.com/

