# -*- mode: shell-script -*-

set completion-ignore-case on
set prefer-visible-bell on
set skip-completed-text on
set visible-stats on
set colored-stats on
set bell-style none

# Cycle through completions with Tab/Shift-Tab Windows console style.
TAB: menu-complete
"\e[Z": menu-complete-backward

# However, unlike the Windows console, first stop at the common prefix
# and give me a chance to disambiguate further. :)
set menu-complete-display-prefix on

# Most of the time, the above is enough and I don't need to ever see
# the list of possible completions. This gives me the option to see it
# by pressing C-Space on the rare occasions that I'm stuck or
# curious.
C-SPACE: possible-completions

# This makes F8 behave like Windows, search history for in reverse for
# command start
"\e[19~": history-search-backward

